NEYNAR_API_KEY=your_neynar_api_key
NEYNAR_SIGNER_UUID=your_dedicated_signer_uuid
NEYNAR_BOT_FID=your_bot_fid
NEXT_PUBLIC_URL=https://find-celo.vercel.app
NEXT_PUBLIC_NEYNAR_CLIENT_ID=your_neynar_client_id
