NEYNAR_API_KEY=your_neynar_api_key
NEYNAR_SIGNER_UUID=your_neynar_signer_uuid
NEXT_PUBLIC_NEYNAR_CLIENT_ID=your_neynar_client_id
NEXT_PUBLIC_URL=https://find-celo.vercel.app
CONTRACT_ADDRESS=0x0aB4561fff825C7C886fe22A66061De011e70bBd
